{% extends "layout.jinja2" %}

{% block content %}
    <link
        rel="stylesheet"
        href="/discover/static/discover.css"
        type="text/css"
    />

    <div class="discover-container">
        <h1 class="discover-title">Discover local restaurants</h1>
        <div class="discover-neighbourhoods-parent">
            {% for neighbourhood in neighbourhoods %}
            <div class="discover-neighbourhoods-child">
                <a href="/discover/neighbourhood?query={{ neighbourhood.name }}">
                    <div class="discover-neighbourhoods-child-upper">
                        <img class="venue-img-2" src="{{ neighbourhood.img_url }}">
                    </div>
                    <div class="discover-neighbourhoods-child-lower">
                        <h4>{{ neighbourhood.name }}</h4>
                        {% if neighbourhood.venues_count > 1 %}
                        <p>{{ neighbourhood.venues_count }} venues</p>
                        {% else %}
                        <p>{{ neighbourhood.venues_count }} venue</p>
                        {% endif%}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}