{% extends "layout.jinja2" %}

{% block content %}
    <link
        rel="stylesheet"
        href="/discover/static/discover.css"
        type="text/css"
    />

    <div class="discover-container">
        <h1 class="discover-title">Discover new restaurants and cafes</h1>
        <div class="discover-neighbourhoods-parent">
            {% for neighbourhood in neighbourhoods %}
            <a href="/discover/neighbourhood?query={{ neighbourhood.name }}">
            <div class="discover-neighbourhoods-child">
                <div class="discover-neighbourhoods-child-upper">
                    <img class="home-img" src="{{ neighbourhood.img_url }}" width="300" height="auto">
                </div>
                <div id="discover-neighbourhoods-child-lower">
                    <p>{{ neighbourhood.name }}</p>
                    {% if neighbourhood.venues_count > 1 %}
                        <p>{{ neighbourhood.venues_count }} venues</p>
                    {% else %}
                        <p>{{ neighbourhood.venues_count }} venue</p>
                    {% endif%}
                </div>
                </a>

            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}