<link
  rel="stylesheet"
  href="/static/nav.css"
  type="text/css"
/>

<header>
  <nav class="nav-container">

    <div class="nav-left">
      <a class="nav-item" href="/"><img class="nav-logo" src="/static/scoop_logo.png"/></a>
      <a class="nav-item" href="/discover"><button class="nav-button nav-discover">Discover</button></a>
    </div>

    <div class="nav-right">
        {% if session.appuser_fullname %}
          <a class="nav-item" href="/"><button class="nav-button nav-user">{{ session.appuser_fullname }}</button></a>
          <a class="nav-item" href="/logout"><button class="nav-button nav-logout">Logout</button></a>
        {% else %}
          <a class ="nav-item" href="/login"><button class="nav-button nav-login">Login</button></a>
          <a class="nav-item" href="/register"><button class="nav-button nav-signup">Signup</button></a>
        {% endif %}
    </div>
   </nav>
   <hr>
</header>


