<link
  rel="stylesheet"
  href="/static/nav.css"
  type="text/css"
/>

<header>
  <nav class="nav-container">
    <div class="nav-left">
      <a href="/"><button class="nav-logo">Scoop</button></a>
      <a href="/discover"><button class="nav-discover">DISCOVER</button></a>
    </div>
    <div class="nav-right">
      {% if session.appuser_fullname %}
        <span>{{ session.appuser_fullname }}</span>
        <a href="/logout"><button class="nav-logout">Logout</button></a>
      {% else %}
        <a href="/login"><button class="nav-login">LOGIN</button></a>
        <a href="/register"><button class="nav-signup">SIGNUP</button></a>
      {% endif %}
    </div>
   </nav>
   <hr>
</header>


