.venue-container {
	display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 150px;
}

.venue-content-area {
	width: 900px;
    margin-bottom: 50px;
}

.venue-info {
	display: flex;
	flex-flow: column nowrap;
}

.venue-info-body {
	display: flex;
    flex-flow: row;
    justify-content: space-between;
	padding: 10px;
}

.venue-info-body-left > div {
	padding-bottom: 10px;
    padding-right: 20px;
}

h1, h2, h3 {
	border-bottom: 2px solid darkslateblue;
}

.venue-img {
	width: 400px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.individual-review {
	display: flex;
	flex-flow: row nowrap;
}

.review-section {
	padding: 0 10px 10px 10px;
}

.headline {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	padding-bottom: 5px;
}

.content {
	flex: max-content;
}

.profile-img {
	width: 80px;
	height: 100px;
	object-fit: cover;
	border-radius: 7px;
}

.venue-info-aggregates {
	font-style: italic;
}

.add-review-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

}

.review-form-area {	
}

/* */
.review-form {
	display: flex;
	flex-flow: column nowrap;
}

.add-review-content-area {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.add-review-textarea {
	max-width: 780px;
	min-width: 780px;
	max-height: 300px;
	min-height: 115px;
	height: 115px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

.review-button {

	border-radius: 5px;
    padding: 3px 5px 3px 5px;

    cursor: pointer;
	border: none;
}

/* Review edit page */
.review-edit-container {
	display: flex;
	justify-content: center;
}
.review-edit-content-area {
	max-width: 750px;
	min-width: 500px;
	margin: 0 30px 0 30px;
	padding-bottom: 150px
}

.edit-review-textarea {
	width: 100%;
	max-width: 750px;
	min-width: 500px;
	max-height: 500px;
	min-height: 300px;
	height: 180px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

.edit {
	font-style: italic;
}

.star {
	color: orangered;
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: orangered;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: orangered;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: orangered;
}

#review-submit {
	border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
	border: none;
}

#review-submit:hover {
    background-color: darkslateblue;
	color: white;
}