.venue-container {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 192px;
}

.venue-content-area {
	width: 900px;
    margin-bottom: 50px;
}

.venue-info {
	display: flex;
	flex-flow: column nowrap;
}

.venue-info-body {
	display: flex;
    flex-flow: row;
    justify-content: space-between;
	padding: 10px;
}

.venue-info-body-left > div {
	padding-bottom: 10px;
    padding-right: 20px;
}

h1, h2, h3 {
	border-bottom: 2px solid darkslateblue;
}

.venue-img {
	width: 400px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.individual-review {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.review-left {
	display: flex;
	flex-flow: row nowrap;
}

.review-section {
	padding: 10px;
}

.profile-img {
	width: 80px;
	height: 100px;
	object-fit: cover;
	border-radius: 10px;

}

.venue-info-aggregates {
	font-style: italic;
}

.review-form-area {
	display: flex;
}

.review-form {
	display: flex;
	flex-flow: column nowrap;
}

#review_field {
	height: 100px;
}

.rate-area {
	float: left;
	border-style: none;
}

.rate-area:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 180%;
	color: lightgrey;
}

.rate-area:not(:checked) > label:before {
	content: "★";
}

.rate-area > input:checked ~ label {
	color: orangered;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
	color: orangered;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
	color: orangered;
}

#review-submit {
	border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
	border: none;
}

#review-submit:hover {
    background-color: darkslateblue;
	color: white;
}