#discover-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 192px;
}

#discover-neighbourhoods-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

#discover-neighbourhoods-child {
    margin: 25px;
    border-style: dotted dashed solid double;
}

#discover-neighbourhoods-child a:link, #discover-neighbourhoods-child a:visited {
    text-decoration: none;
    color: black;
}

#discover-neighbourhoods-child-upper {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    margin: 10px;
    min-width: 300px;
    border-style: dotted dashed solid double;
}

#discover-neighbourhoods-child-upper img {
    display: block;
    max-width: auto;
    max-height: 200px;
}

#discover-neighbourhoods-child-lower {
    flex-grow: 1;
    flex-basis: calc(50% - 22px);    /*  22px = 2*10px margin + 2*1px border  */
    margin: 10px;
    min-width: 300px;
    border-style: dotted dashed solid double;
}
