.discover-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 192px;
}

.discover-content-area {
    width: 720px;
    margin-bottom: 50px;
}

.result-separator > hr {
    border: 1px solid gray;
}

.result-separator {
    padding-top: 10px;
}

.discover-venue-info {
    display: flex;
    flex-flow: column nowrap;
}

.info-body {
    display: flex;
    flex-flow: row;
}

.info-left > div {
    padding-bottom: 10px;
    padding-right: 20px;
}

.venue-img {
	width: 300px;
	height: 220px;
	object-fit: cover;
	border-radius: 10px;
}

.discover-neighbourhoods-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.discover-neighbourhoods-child {
    margin: 25px;
    border-style: dotted dashed solid double;
}

.discover-neighbourhoods-child a:link, .discover-neighbourhoods-child a:visited {
    text-decoration: none;
    color: black;
}

.discover-neighbourhoods-child-upper {
    flex-grow: 1;
    flex-basis: calc(50% - 20px);
    margin: 10px;
    min-width: 300px;
    border-style: dotted dashed solid double;
}

.discover-neighbourhoods-child-upper img {
    display: block;
    max-width: auto;
    max-height: 200px;
}

.discover-neighbourhoods-child-lower {
    flex-grow: 1;
    flex-basis: calc(50% - 22px);    /*  22px = 2*10px margin + 2*1px border  */
    margin: 10px;
    min-width: 300px;
    border-style: dotted dashed solid double;
}
