{% extends "layout.jinja2" %}

{% block content %}
  <link
        rel="stylesheet"
        href="/venue/static/venue.css"
        type="text/css"
  />

  <div class="review-edit-container">
    <div class="review-edit-content-area">
    <div><h3>Edit the review</h3></div>
    <div class="review-form-area">
      <form class="review-form" method="POST" action="{{ url_for('venue_bp.edit_review', venue_id=review.venue_id, review_id=review.id) }}">
        <textarea class="edit-review-textarea" name="review" rows="10" cols="25">{{ review.review }}</textarea>
        <div>
          <div class="rate-area">
	          <input type="radio" id="5-star" name="rating" value="5" />
            <label for="5-star">5 stars</label>
            
	          <input type="radio" id="4-star" name="rating" value="4" />
            <label for="4-star">4 stars</label>

	          <input type="radio" id="3-star" name="rating" value="3" />
            <label for="3-star">3 stars</label>

	          <input type="radio" id="2-star" name="rating" value="2" />
            <label for="2-star">2 stars</label>

	          <input type="radio" id="1-star" name="rating" value="1" />
            <label for="1-star">1 star</label>
          </div>
        </div>
        {% for message in get_flashed_messages() %}
          <span class="errors">{{ message }}</span>
        {% endfor %}
        <input id="review-submit" type="submit" value="Submit" />
        <input type="hidden" name="venue_id" value="{{ review.venue_id }}">
      </form>
    </div>
  </div>
</div>

{% endblock %}