{% extends "layout.jinja2" %}

{% block styles %}

    <link
        rel="stylesheet"
        href="/venue/static/venue.css"
        type="text/css"
    />

{% endblock %}

{% block content %}

  <link
        rel="stylesheet"
        href="/venue/static/venue.css"
        type="text/css"
    />

  <div class="container">
  <h2>Venue Reviews</h2>
  <h3>{{ venue.name }}</h3>
    {% for review in reviews %}
    <ul>
      <li>
        {% for x in range(1, (review.stars + 1)) %}
          <img src="/venue/static/fork.png" width="20">
        {% endfor %}
      </li>
      <li>{{ review.review }}</li>
      <li>{{review.user}}</li>
      <hr>
    </ul>
    {% endfor %}

    <form method="POST" action="/venue/review">

      <h4>Write a review</h4>
      <fieldset class="review">
        {{ form.review(placeholder='Write Your Review.') }}
        {% if form.review.errors %}
          <ul class="errors">
            {% for error in form.review.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <h4>How would you sum the experience?</h4>
      <fieldset class="conclusion">
        {{ form.conclusion }}
        {% if form.conclusion.errors %}
          <ul class="errors">
            {% for error in form.conclusion.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

      <input type="hidden" name="venue_id" value="{{ venue.id }}">
    </form>

  </div>

{% endblock %}