{% extends "layout.jinja2" %}

{% block content %}

  <link
        rel="stylesheet"
        href="/venue/static/venue.css"
        type="text/css"
    />

  <div class="venueInfo">
    <h1>{{ venue.name }} ({{venue.neighbourhood}})</h1>
    <hr>
    <table id = "review_aggregates">
      <tr>
        <td>{{ review_aggregates.review_avg }} average rating,</td>
        <td>{{ review_aggregates.review_count }} ratings</td>
      </tr>
    </table>
    <table>
      <tr>
        <td>{{ venue.description }}</td>
      </tr>
      <tr>
        <td>{{ venue.street_address }}, {{ venue.postal_code }} {{ venue.city }} </td>
      </tr>
    </table>
  </div>
    
  <div class = "community_review>">
    <h2>Community reviews</h2>
    <hr>
    {% for review in reviews %}
      <table id = "individual_review">
        <tr>
          <td>{{ review.user }} rated it 
            {% for x in range(1, (review.stars + 1)) %}
              <span>★</span>
            {% endfor %}
          </td>
          <td>{{ review.created_at.strftime('%d.%m.%Y') }}</td>
        </tr>
        <tr>
          <td>{{ review.review }}</td>
        </tr>
      </table>
    {% endfor %}
  </div>




    <div>
    <form method="POST" action="/venue/review">
     <h4>Add a Review</h4>
     <br>
     <input type="text" id="" name="review" />
     <br>
     <ul class="rate-area">
	      <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Can't wait to visit again.">5 stars</label>
	      <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="I would recommend.">4 stars</label>
	      <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="It was okay, I guess.">3 stars</label>
	      <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not worth it.">2 stars</label>
	      <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Would never ever visit again.">1 star</label>
      </ul>
      <br>
      <input type="submit" value="Add a review." />
      <input type="hidden" name="venue_id" value="{{ venue.id }}">
    </form>

  </div>

{% endblock %}