{% extends "layout.jinja2" %}

{% block content %}
  <link
    rel="stylesheet"
    href="/static/auth.css"
    type="text/css"
  />
    <div class="form-wrapper">
        <h2 class="title">Register</h2>
  
        <form method="POST" action="/register">

            {{ form.csrf_token }}

            <!-- First Name -->
            <fieldset class="form-field">{{ form.name.label }} {{ form.name }}
            {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            </fieldset>

          <!-- Email -->
          <fieldset class="form-field">{{ form.email.label }} {{ form.email }}
            {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <!-- Password -->
          <fieldset class="form-field">{{ form.password.label }} {{ form.password }}
            {% if form.password.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <!-- Confirm Password -->
          <fieldset class="form-field">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
            {% if form.confirmPassword.errors %}
              <ul class="errors">
                {% for error in form.confirmPassword.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>
  
          <!-- do this later {{ form.recaptcha }} -->
          {{ form.submit }}
  
        </form>
      </div>

{% endblock %}