{% extends "layout.html" %}

{% block content %}

  <link
    rel="stylesheet"
    href="/auth/static/auth.css"
    type="text/css"
  />

  <div class="auth-container">
    <div class="auth-form form-wrapper">
        <h1 class="auth-item title">Register to Scoop</h1>
        <form method="POST" action="/auth/register">
            {{form.csrf_token}}
            <fieldset class="auth-item name">
              <div class="input-container">{{ form.fullname.label }}{{ form.fullname }}</div>
              {% if form.fullname.errors %}
                <ul class="errors">
                  {% for error in form.fullname.errors %}
                    <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                {% endfor %}
              </ul>
            {% endif %}
            </fieldset>

          <!-- Email -->
          <fieldset class="auth-item email">
            <div class="input-container">{{ form.email.label }}{{ form.email }}</div>
            {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <!-- Password -->
          <fieldset class="auth-item password">
            <div class="input-container">{{ form.password.label }}{{ form.password }}</div>
            {% if form.password.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <!-- Confirm Password -->
          <fieldset class="auth-item password">
            <div class="input-container">{{ form.confirmPassword.label }} {{ form.confirmPassword }}</div>
            {% if form.confirmPassword.errors %}
              <ul class="errors">
                {% for error in form.confirmPassword.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>
  
          <div class="auth-item">
            {{ form.submit }}
          </div>
          {% if failed_registration %}
            <div class="errors">{{ failed_registration }}</div>
          {% endif %}
        </form>
      </div>
    </div>

{% endblock %}