{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        {% for restaurant in restaurants %}
            <h4>{{ restaurant.name }}</h4>
            <a href="/restaurant/{{ restaurant.id }}">See Reviews</a>
        {% endfor %}
    </div>
{% endblock %}