{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        {% for venue in venues %}
            <h4>{{ venue.name }}</h4>
            <a href="/venue/{{ venue.id }}">See Reviews</a>
        {% endfor %}
    </div>
{% endblock %}