{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        <h2 class="title">Scoop – Restaurant Finder</h2>
        <img src="/static/pexels-drinks.jpg"
            width="200"
            height="auto">
        <p>Welcome</p>
    </div>
{% endblock %}