{% extends "layout.jinja2" %}

{% block content %}

  <div class="container">
  <h2>Restaurant Reviews</h2>
  <h3>Restaurant: {{ restaurant.name }}</h3>
    {% for review in reviews %}
    <ul>
      <li>
        {% for x in range(1, (review.forks + 1)) %}
          <img src="/static/fork.png" width="20">
        {% endfor %}
      </li>
      <li>{{ review.review }}</li>

      <li>{{review.user}}</li>
      <hr>
    </ul>
    {% endfor %}

    <h4>Add a Review</h4>
    <form action="/review" method="POST">
        Review: <input type="text" name="query">
        <br>
        <tr>
          <td><input type="radio" name="">1</td>
          <td><input type="radio">2</td>
          <td><input type="radio">3</td>
          <td><input type="radio">4</td>
          <td><input type="radio">5</td>
        </tr>
        <br>
        <input type="submit" value="Send">
        <input type="hidden" name="restaurant_id" value="{{ restaurant.id}}">
    </form>
  </div>

{% endblock %}