{% extends "layout.jinja2" %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Register</h2>
  
        <form method="POST" action="/register">
  
            <fieldset class="form-field">
                {{ form.first_name.label }}
                {{ form.first_name(size=20) }}
            </fieldset>

            <fieldset class="form-field">
                {{ form.last_name.label }}
                {{ form.last_name(size=20) }}
            </fieldset>
  
            <fieldset class="form-field">
                {{ form.email.label }}
                {{ form.email }}
            </fieldset>
  
            <fieldset class="form-field">
                {{ form.password.label }}
                {{ form.body }}
            </fieldset>

            <fieldset class="form-field">
                {{ form.confirmPassword.label }}
                {{ form.body }}
            </fieldset>
  
            {{ form.submit }}
  
        </form>
      </div>

{% endblock %}