#home-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 192px;
}

#home-title {
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    background: linear-gradient(yellow, yellow) left bottom repeat-x;
    background-size: 12px 12px;
}

#home-form {
    display:flex;
    flex-direction:row;
    height: 35px;
    border:1px solid lightgray;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#home-query {
    flex-grow:6;
    border:none;
    font-family: 'Courier New', Courier, monospace;
}
  
#home-query:focus {
    outline: none;
}

#home-submit {
    background:black;
    color:white;
    border: none;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
}