hr {
    padding: 0px;
    margin: 0px;
    border: 2px solid darkslateblue;
}

.nav-container {
    height: 85px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-left, .nav-right {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.nav-logo {
    width: 150px;
    display: block;
}

.nav-button {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-login, .nav-discover, .nav-logout {
    background-color: white;
    color: darkslateblue;
    border: none;
}

.nav-login:hover, .nav-discover:hover, .nav-logout:hover {
    background-color: rgb(235, 235, 235);
}

.nav-user {
    background-color: white;
    color: darkslateblue;
    border: none;
}

.nav-signup {
    background-color: white;
    color: darkslateblue;
    border: 2px solid darkslateblue;
}

.nav-signup:hover {
    background-color: darkslateblue;
    color: white;
}