h1 {
    align-self: center;
    color: orangered;
    margin: 0;
    font-weight: normal;
}

.auth-container {
    display: flex;
    background-color: darkslateblue;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.auth-form {
    display: block;
    min-width: 300px;
    max-width: 675px;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px 50px 40px;
    box-shadow: 5px 5px 5px rgb(54, 46, 107);
}

.register {
    background-color: white;
}

.auth-item {
    border-radius: 5px;
    padding: 0 0 20px 0;
    font-weight: bold;
    border: none;
}

.errors {
    font-weight: lighter;
    color: red;
    list-style: none;    
    font-size: small;
    margin: 0;
    padding: 5px 0 0 0;
}

.input-container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    font-weight: lighter;
    color: gray;
}

/* FlaskForm's ids*/
#email, #password, #fullname, #confirmPassword {
    padding: 10px 7px 10px 7px;
    border-radius: 5px;
    border: 2px solid lightgray;
}

#email:hover, #password:hover, #fullname:hover, #confirmPassword:hover {
    border: 2px solid darkslateblue;
}

#submit {
    border-radius: 5px;
    padding: 10px;
    width:100%;
    display:block;
    background-color: darkslateblue;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

#submit:hover {
    background-color: rgb(54, 46, 107);
    color: white;
    cursor: pointer;
}

.register {
    font-weight: normal;
}

a {
    text-decoration: none;
}